body
{
background-position:center;
background-size:cover;
    text-align: center;
}
.heading {
    width:100%;
    text-align:left;
 margin-bottom:5px;

}
.heading h1 {
    display:inline;
    font-size:22px;
}
.heading button {
    float:right;
    border:1px soild white;
}
.footer {
    background-color: blueviolet;
    color:rgb(0, 241, 249);
    line-height:2;
    margin-bottom:0px;
    bottom:0px;
    position:sticky;
    width:100%;
}
.modal.body{
   text-align:left ; 
}
canvas{
    border-radius:5px;
    box-shadow:3px 3px 3px blue;
    border:2px soild orchid;
}
